/*  your css code here. If applicable */
body{
	margin:2px;
	border-color:black;
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
.center-box{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px solid black;
	display:flex;
	justify-content: center;
	align-items: center;
}

.center-box p{
	color:purple;
	margin:0;
}